<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - Vraic Web Components App</title>

		<script>
			// check browser supports custom elements, if not redirect to unsupported browser page
			if (window.customElements == undefined) {
				window.location = 'UnsupportedBrowser.html';
			}
		</script>

		<environment include="Development">
			<link async rel="stylesheet" href="~/app.css" />

			<!-- use es6 modules (must specify type="module") -->
			<!-- see https://medium.com/mattlag/es6-modules-getting-started-gotchas-2ad154f38e2e -->
			<!-- load synchronously so customElements.define statements get called before custom elements are referenced -->
			@*<script type="module" src="app.js"></script>*@
			<script type="module" src="~/app.js" asp-append-version="true"></script>
		</environment>

		<environment exclude="Development">
			<link rel="stylesheet" href="~/app.min.css" asp-append-version="true" />
			<script type="module" src="~/app.min.js" asp-append-version="true"></script>
		</environment>

	</head>

	<body>
		<noscript><div style="font-size:30px; width:100%" class="bg-yellow6 text-grey5">JavaScript is disabled. This website will not work without JavaScript</div></noscript>

		@RenderBody()

		@*@RenderSection("Scripts", required: false)*@
	</body>

</html>
